.container-skill{
    margin-top: 50px;
    display: flex;
}
.left-skill{
    width: 50%;
    padding: 100px;
}
.left-skill h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;

/* identical to box height */

text-align: left;
text-transform: uppercase;

color: rgba(255, 255, 255, 0.84);
}
.left-skill h1{
    font-family: 'Sora';
font-style: normal;
font-weight: 700;
font-size: 42px;
text-align: left;

/* Gradient */

background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.left-skill h3{
    padding-top: 10px;
font-family: 'Sora';
font-style: normal;
font-weight: 700;
font-size: 24px;
text-align: left;

color: #FFFFFF;
}
.right-skill{
    width:50%;
    padding-top: 50px;
}
.skillbar-container{
    min-width: 650px;   
    /* max-height:700px; */
    margin: 0 auto;
    /* margin: 100px; */
    /* border: 1px solid blue; */
    box-shadow: 4px 0px 24px rgba(75, 126, 255, 0.24), 0px 4px 24px rgba(75, 126, 255, 0.6);
    padding: 30px;
    width: 50%;
    margin-top: 10px;
  }
.skillbar-container h2{
    /* padding-left: 33%; */
    cursor: pointer;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    /* line-height: 91px; */
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.skillbar-container h3{
    /* padding-left: 33%; */
    cursor: pointer;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 51px;
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
@media (max-width: 767px) {
    .container-skill{
        flex-direction: column;
    }
    .left-skill{
        /* border: 1px solid red;    */
        width: 100%;
        padding:0 2em;
        /* padding-left: 3em; */
    }
    .right-skill{
        width: 100%;
    }
    .skillbar-container{
        max-width: 600px;
        min-width: 280px;
        margin-bottom: 10%;

    }
    .left-skill h2{
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        }
        .left-skill h1{
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        }
        .left-skill h3{
        padding-top: 10px;
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        }
}
@media (max-width: 1024px){
    .right-skill{
        width: 100%;
    }   
    .container-skill{
        flex-direction: column;
    }
    .left-skill{
        /* border: 1px solid red;    */
        width: 100%;
        padding:0 2em;
        /* padding-left: 3em; */
    }
    .left-skill h2{
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        }
        .left-skill h1{
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        }
        .left-skill h3{
        padding-top: 10px;
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        }
}